body {
    background: #ff6a78;
    background: linear-gradient(to bottom, #ff6a78, #ffa57c);
    font-family: sans-serif;
    font-variant: small-caps;
}

h1{
  color: #562d5a;
  text-align:center;  
}

h2{
  color: #7e3462;
  text-align:center;  
}

#board {
    padding: 15px;
    border-style: solid;
    border-color: #b8476e;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:#ffe7d5;
    width: 550px;
    font-size: 20px;
    line-height: 35px;
}

* {
  box-sizing: border-box;
}

.input-text {
  width: 100%;
  outline: none;
  border-radius: 7px;
  border: 2px solid #b8476e;
  padding: 5px 10px;
  font-size: inherit;
  transition-property:color;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f8f8;
}
input::-webkit-inner-spin-button 
.input-text:focus {
  border-color: #b8476e;
}

.btn {
  display: inline-block;
  background-color: #ff6a78;
  border: 2px #b8476e;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  color: #ffe7d5;
  padding: 5px 10px;
}

.btn:hover {
  color: #ff6a78;
  border-color: #b8476e;
  background-color: #ffe7d5;
}

.btn:active {
  background-color: #ffe7d5;
  border-color: #b8476e;
  color: #ff6a78;
}

.myForm {
  max-width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#clock {
    background: #f8d2af;
    padding: 10px;
    border: solid #b8476e 2px;
    border-radius: 10px;
}
.timer {
    outline: none;
    font: bold 24pt sans;
    background: #ddf;
    padding: 10px;
    border: solid black 2px;
    border-radius: 10px;
    display: inline-block;
}
